<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class='chart'>
        <button class='js-do-it-again'>
          <span class='ion-loop'></span>
        </button>
        <svg viewbox='0 0 560 260'>
          <defs>
            <filter id='dropshadow'>
              <feGaussianBlur in='SourceAlpha' stdDeviation='3'></feGaussianBlur>
              <feOffset dx='0' dy='0' result='offsetblur'></feOffset>
              <feComponentTransfer>
                <feFuncA slope='0.2' type='linear'></feFuncA>
              </feComponentTransfer>
              <feMerge>
                <feMergeNode></feMergeNode>
                <feMergeNode in='SourceGraphic'></feMergeNode>
              </feMerge>
            </filter>
          </defs>
          <g class='datasets'>
            <path class='dataset' d='M0,260 C0,260 4,252 7,252 C66,252 90,102 139,102 C188,102 205,135 252,135 C299,135 309,89 330,89 C350,89 366,122 404,122 C442,122 431,98 451,98 C470,98 499,213 560,260 L0,259 Z' id='dataset-3'></path>
            <path class='dataset' d='M0,260 C35,254 63,124 88,124 C114,124 148,163 219,163 C290,163 315,100 359,100 C402,100 520,244 560,259 C560,259 0,259 0,260 Z' id='dataset-2'></path>
            <path class='dataset' d='M0,260 C0,260 22,199 64,199 C105,199 112,144 154,144 C195,144 194,126 216,126 C237,126 263,184 314,184 C365,183 386,128 434,129 C483,130 511,240 560,260 L0,260 Z' id='dataset-1'></path>
          </g>
        </svg>
      </div>
      
    <div class="card mt-4">
        <div class="card-header">
            Article Text
        </div>
        <div class="card-body">
            <p class="card-text">{{ article.text }}</p>
        </div>
    </div>
    <div class="container mt-5">
        <form id="article-form" method="POST" action="/">
            <div class="form-group">
                <label for="article_link">Article Link:</label>
                <input type="text" class="form-control" id="article_link" name="article_link">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        
        <div class="card mt-4">
            <div class="card-header">
                <h2>Statements Analysis</h2>
            </div>
            <div class="card-body">
                <details>
                    <p class="card-text" style="white-space: pre-line;">{{ article.bard_analysis_result | safe }}</p>
                </details>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h2>Bias Verdict</h2>
            </div>
            <div class="card-body">
                <details>
                    <summary><h5 class="card-title">Verdict: {{ article.bias_verdict_verdict }}</h5></summary>
                    <p class="card-text" style="white-space: pre-line;">{{ article.bias_verdict_details | safe }}</p>
                </details>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Sentiment Analysis</h2>
            </div>
            <div class="card-body">
                <details>
                    <summary><h5 class="card-title">Verdict: {{ article.sentiment_analysis_verdict }}</h5></summary>
                    <p class="card-text">{{ article.sentiment_analysis_details }}</p>
                </details>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Narrative Consistency Result</h2>
            </div>
            <div class="card-body">
                <details>
                    <summary><h5 class="card-title">Verdict: {{ article.narrative_consistency_result_verdict }}</h5></summary>
                    <p class="card-text" style="white-space: pre-line;">{{ article.narrative_consistency_result_details | safe }}</p>
                </details>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>